<section class="locations-container">
    <!-- This is where we need to repeat over our data that we are getting from our service via the controller . The controller should be getting the "travelInfo" data from the service. If you haven't made the controller, do that now and include it on your state object in app.js-->
    <section class="location-card" ng-repeat="location in travelLocation" >

        <div class="image-container">
					<!-- In the controller get the data from "travelInfo" and assign it to $scope -->
          <!-- Once we have the data we can use {{}} to bind that data to our view -->
          <!--Add the image link from the data here. Remember to put something in the alt tag, perhaps the name of the Country-->
          <img ng-src="{{location.image}}" alt="{{location.country}}">
        </div>
        <div class="location-inner-left">
            <!-- Now we can start to extract the data and bind it to our different elements here-->
            <h1>{{location.country}}</h1>
            <p>{{location.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At $ {{location.price}}</h3>
            <!--You will need to make the ui-sref work. It should point to the packages state. If you look at your app.js the packages state
       is expecting a country name to be passed along. You can get that name from the data object that we are repeating over. The syntax for going to a route with params is "routename({param:paramValue})" -->
            <button ui-sref="packages">See country packages</button>
        </div>
    </section>
</section>
