<section class="locations-container">
    <section class="location-card" ng-repeat="location in vm.locations">
        <div class="image-container">
            <img src="{{location.image}}" alt="{{location.city}}">
        </div>
        <div class="location-inner-left">
            <h6> {{location.city}} </h6>
            <h1>{{location.country}} </h1>
            <p>{{location.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At ${{location.price}}</h3>
            <button ui-sref="booked({id:location.id})">Book Now</button>
        </div>
    </section>
</section>
